@import url('https://fonts.googleapis.com/css2?family=Donegal+One&family=Hedvig+Letters+Serif:opsz@12..24&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:wght@700&family=Lora&family=Merriweather&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,300&family=Ojuju:wght@200..800&family=PT+Serif&family=Playfair+Display:ital,wght@1,500;1,700&family=Raleway:wght@300&family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@300&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{

  margin: 0px;
  padding: 0px;
  font-family: "Source Code Pro", monospace;
}